.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    background-color: var(--clr-background-darker);
    border-radius: 0px 0px 10px 10px;
  }
  
  .footer--icon {
    height: 25px;
    color: var(--clr-social-icons);
  }
  
  .footer--icon:hover {
    filter: brightness(120%);
  }